{% extends "master.html.twig" %}

{% block title %} Connexion {% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/login.css') }}" />
{% endblock %}

{% block body %}
  <body>
    <main>
      <form method="post" class="form ps-card">
        <img
          src="{{ asset('/images/logo-pad.svg') }}"
          alt="Logo du Port Autonome de Douala"
          class="logo"
        />
        <h1>Connexion</h1>

        <div class="form__credentials">
          {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}

          <input
            type="text"
            name="_username"
            id="username"
            placeholder="Nom d'utilisateur"
            class="ps-form-input"
            value="{{ last_username }}"
          />
          <input
            type="password"
            name="_password"
            id="password"
            placeholder="Mot de passe"
            class="ps-form-input"
          />
        </div>

        <button type="submit" class="ps-btn ps-btn-w-100 ps-btn-primary">
          Valider
        </button>
      </form>
    </main>

    <script src="./js/main.js"></script>
  </body>
{% endblock %}