<!DOCTYPE html>

<!-- Login page -->
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="../assets/images/favicon.svg"
      type="image/x-icon"
    />
    <!-- / Favicon -->

    <!-- Vendor -->
    <link
      rel="stylesheet"
      href="../assets/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./css/main.css" />
    <link
      rel="stylesheet"
      href="../assets/vendor/fontawesome/css/all.min.css"
    />
    <!-- / Vendor -->

    <!-- Custom stylesheets -->
    <link rel="stylesheet" href="./css/components.css" />
    <link rel="stylesheet" href="./css/dashboard.css" />
    <!-- / Custom stylesheets -->

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- / Google fonts -->

    <title>PAD STORE | Tableau de bord</title>
  </head>

  <body class="ps-grid-layout">
    <header class="header">
      <nav class="navbar navbar-light bg-light px-5">
        <a class="navbar-brand" href="#">
          <img
            src="../assets/images/logo-pad.svg"
            width="40"
            height="40"
            alt=""
          />
        </a>

        <div class="d-flex">
          <button type="menu" class="ps-btn-menu mx-5">
            <i class="fa-regular fa-bell"></i>
          </button>
          <a href="#" class="ps-btn-menu"><i class="fa-regular fa-user"></i></a>
          <!-- <a href="./login.html" class="ps-btn-menu">Connexion</a> -->
        </div>
      </nav>
    </header>

    <main class="main">
      <h1 class="ps-page-title">Tableau de bord</h1>

      <div class="container p-5">
        <div class="row g-5">
          <div class="col">
            <h2 class="ps-card mb-4 align-items-start d-inline-block w-100">
              <i class="fa-solid fa-clock mx-2"></i>
              Vos dernières commandes
            </h2>

            <div class="ps-card">
              <ul class="ps-list ps-list-striped">
                <li>
                  <p>1 ramme de papier, 2 cahiers, 1 carton de stylos</p>
                  <time datetime="2022-06-10 00:00">10 / 06 / 2022</time>
                </li>

                <li>
                  <p>1 ramme de papier, 2 cahiers, 1 carton de stylos</p>
                  <time datetime="2022-06-10 00:00">10 / 06 / 2022</time>
                </li>

                <li>
                  <p>1 ramme de papier, 2 cahiers, 1 carton de stylos</p>
                  <time datetime="2022-06-10 00:00">10 / 06 / 2022</time>
                </li>
              </ul>
              <a href="" class="ps-btn ps-btn-primary">Nouvelle</a>
            </div>
          </div>

          <div class="col">
            <h2 class="ps-card mb-4 align-items-start d-inline-block w-100">
              <i class="fa-solid fa-money-bill mx-2"></i>
              Budget
            </h2>

            <div class="ps-card mb-2 align-items-start">
              <h3>
                <i class="fa-solid fa-bucket mx-2"></i>
                Produits d'entretien
              </h3>

              <hr />

              45.500 FCA / 195.000 FCFA
            </div>

            <div class="ps-card align-items-start">
              <h3>
                <i class="fa-solid fa-desktop mx-2"></i>
                Fournitures de bureau
              </h3>
              <hr style="color: var(--clr-neutral-dark)" />

              8500 FCA / 86.000 FCFA
            </div>
          </div>

          <div class="col-12">
            <h2 class="ps-card mb-4 flex-row justify-content-start">
              <img
                src="../assets/images/logo-pad.svg"
                width="40"
                height="40"
                alt=""
                class="mx-2"
              />
              Disponible dans le magasin
            </h2>

            <div class="ps-card">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa
                corrupti veniam aspernatur voluptates? Repudiandae dolor
                delectus sint quam non quo magnam dolorem! Adipisci
                exercitationem doloribus, iusto accusantium assumenda cumque
                quos.
              </p>
              <a href="" class="ps-btn ps-btn-primary">Voir</a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <aside class="sidebar d-flex flex-column align-items-center">
      <header class="px-4 py-2">
        <img
          src="../assets/images/logo-store.svg"
          alt="Logo de l'application PAD Store"
          class="sidebar__logo"
        />
      </header>

      <hr class="sidebar__divider w-100" />

      <ul class="sidebar__menu px-4">
        <li class="sidebar__menu-item">
          <a href="#" class="sidebar__link">
            <i class="fa-solid fa-eye mx-1"></i>
            Stock
          </a>
        </li>
        <li class="sidebar__menu-item">
          <a href="./demand.html" class="sidebar__link">
            <i class="fa-solid fa-plus mx-1"></i>
            Commander
          </a>
        </li>
        <li class="sidebar__menu-item">
          <a href="#" class="sidebar__link">
            <i class="fa-solid fa-book mx-1"></i>
            Historique
          </a>
        </li>
        <li class="sidebar__menu-item">
          <a href="#" class="sidebar__link">
            <i class="fa-solid fa-user mx-1"></i>
            Mon compte
          </a>
        </li>
      </ul>
    </aside>

    <script src="./js/main.js"></script>
  </body>
</html>
